<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Meet our Team</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='diabetes-favicon.ico') }}">
       <link rel="stylesheet" href="styles.css">
       
    </head>

    <body>
	
	<div class="container1">
            <h2 class='container-heading'><span class="heading_font">Meet Our Team</span></h2>
            <div class='description'>
    			<p>17BCS4651    16BCS4660    17BCS4661    17BCS4666    17BCS4668.</p>
    		</div>
    	</div>

  <div class="row">
  <div class="column">
    <div class="card">
      <img src="img1.jpg" alt="Manraj Kumar" style="width:100%">
      <div class="container">
        <h2>Manraj Kumar</h2>
        <p class="title">Frontend Developer</p>
       <p>LindedIn:- <a href="https://www.linkedin.com/in/manraj-kumar-4334a4194/">manraj-kumar-4334a4194</a></p>
        <p>Email:- Manrajk716@gmail.com</p>
        <p><a href="https://resumefinal.s3.ap-south-1.amazonaws.com/17bcs4651.pdf"><button class="button">Download Resume</button></a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img1.jpg" alt="Prince Kumar" style="width:100%">
      <div class="container">
        <h2>Prince Kumar</h2>
        <p class="title">Cloud Architect</p>
        <p>LindedIn:- <a href="https://www.linkedin.com/in/prince-kumar3010/">prince-kumar3010</a></p>
        <p>Email:- princekr3010@gmail.com</p>
        <p><a href="https://resumefinal.s3.ap-south-1.amazonaws.com/RESUME_PRINCE.pdf"><button class="button">Download Resume</button></a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img1.jpg" alt="Atul Kumar Chandel" style="width:100%">
      <div class="container">
        <h2>Atul Kumar Chandel</h2>
        <p class="title">Machine Learning Developer</p>
        <p>LindedIn:- <a href="https://www.linkedin.com/in/atulchandel-12125/">atulchandel-12125</a></p>
        <p>Email:- atulchandel121@gmail.com</p>
        <p><a href="https://resumefinal.s3.ap-south-1.amazonaws.com/17BCS4661_Atul_Kumar_Chandel.pdf"><button class="button">Download Resume</button></a></p>
      </div>
    </div>
  </div>
  
  <div class="column_lower1">
    <div class="card">
      <img src="img1.jpg" alt="Ritik Maheshwari" style="width:100%">
      <div class="container">
        <h2>Ritik Maheshwari</h2>
        <p class="title">Designer</p>
       <p>LindedIn:- <a href="https://www.linkedin.com/in/ritik-maheshwari-57998a165/">ritik-maheshwari-57998a165</a></p>
        <p>Email:- maheshwariritik85@gmail.com</p>
        <p><a href="https://resumefinal.s3.ap-south-1.amazonaws.com/Resume_Ritik.pdf"><button class="button">Download Resume</button></a></p>
      </div>
    </div>
  </div>
  
  <div class="column_lower">
    <div class="card">
      <img src="img1.jpg" alt="Amar Kumar Jha" style="width:100%">
      <div class="container">
        <h2>Amar Kumar Jha</h2>
        <p class="title">Python Developer</p>
       <p>LindedIn:- <a href="https://www.linkedin.com/in/prince-kumar3010/">amar-kumar-jha1003</a></p>
        <p>Email:- amarkumarjha125@gmail.com</p>
        <p><a href="https://resumefinal.s3.ap-south-1.amazonaws.com/17BCS4668_Amar_kumar_Jha.pdf"><button class="button">Download Resume</button></a></p>
      </div>
    </div>
  </div>
</div>

    </body>
</html>
